<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Site</title>
    <style>
      * {
        margin: auto;
      }
      body {
        background-color: black;
      }
      header {
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        color: royalblue;
      }
      div {
        text-align: center;
        color: red;
      }
      footer {
        color: red;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        text-align: center;
      }
    </style>
  </head>
  <header>Book Component By Function</header>
  <body>
    <div>
      <img src="../dota2.jpg" alt="Dota" />
      <p>Complete Guide Book To Dota2</p>
    </div>
  </body>
  <footer>Created By Yarden Halely & Nave Shitrit</footer>
</html>
